.App {
  text-align: center;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* Set the width to cover the entire viewport */
  height: 100%; /* Set the height to cover the entire viewport */
  object-fit: cover; /* Ensure the video covers the entire container */
  z-index: -1; /* Set a lower z-index to keep the video behind other content */
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}